* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* navbar start */

.nav-section {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px 80px 10px 80px;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  border: 0;
  background-color: #f0f0f0;
  font-size: 16px;
}
.nav-section ul {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 12px 14px;
}
.login-button {
  width: 136px;
  height: 49px;
  border-radius: 5px;
  padding: 13px;
  gap: 10px;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
  color: #f0f0f0;
  text-align: center;
  border: none;
}
.nav-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  padding: 12px 14px;
  height: 25px;
  width: 220px;
}
.sopping-icon {
  width: 40px;
  height: 40px;
  padding: 12px 14px;
}
/* navbaar end */
/* hero section start */
.containor {
  display: flex;
  padding: 80px;
}

.content {
  font-size: 25px;
  padding-top: 80px;
}
.content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  margin-top: 24px;
  font-family: sans;
  color: #7d5c4e;
}
.button2 {
  width: 432px;
  height: 66px;
  padding: 13px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
  color: #f0f0f0;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 125%;
  border: none;
  margin-top: 48px;
}
.hero-images img {
  height: 40px;
  width: 40px;
  margin-top: 48px;
  align-items: center;
}
.hero-images p {
  font-size: 16px;
  color: #656363;
  font-weight: 600;
}
.hero-images a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px;
}
.hero-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.beef1 img {
  width: 662px;
  height: 598px;
}
.containor2 p {
  font-family: Arial, sans-serif;
  background: #fff7f5;
  font-size: 48px;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  font-weight: 700;
}
/* containor3 start */
.containor3 {
  font-family: Arial, sans-serif;
  background: #fff7f5;

  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 150px;
  overflow: hidden;
  /* flex-wrap: wrap;  */
}
.card {
  background-color: #ffffff;
  width: 305px;
  height: 334px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1px 2px 0px #0000004d;
}
.cards img {
  width: 305px;
  height: 212px;
}
.inner {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 50%;
  background-color: #5d3e31;
  z-index: 2;
}
.card-content p {
  font-size: 18px;
  color: #7d5c4e;
  font-weight: 400;
  line-height: 125%;
  padding: 10px;
  font-family: Source Sans Pro;
}
/* containor 4 */
.containor4 {
  padding: 80px;
  text-align: center;
}
.containor4 p {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.google-content img {
  width: 624px;
  height: 158px;
  border-radius: 34px;
  border: 2px snow;

  align-items: center;
  padding-top: 50px;
}
.google-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  color: #7d5c4e;
  padding-top: 64px;
}
.delivery-product-icon {
  display: flex;
  justify-content: space-evenly;
  padding-top: 64px;
}
.delivery-product-icon span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery-product-icon img {
  width: 70px;
  height: 78px;
}
.delivery-product-icon span p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #656363;
}
.Read-more {
  width: 432px;
  height: 66px;
  padding: 13px;
  border-radius: 5px;
  margin-top: 48px;
  color: #f0f0f0;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  border: none;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
}
/* containor5-beef */
.containor5-beef {
  display: flex;
  justify-content: space-evenly;
  background: #fdf8f7;
}

.dog-food {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  background: #fdf8f7;
  padding: 80px;
}
.image {
  width: 320px;
  height: 491px;
  text-align: center;
}
.image img {
  width: 320px;
  height: 320px;
}
.image-content h3 {
  font-size: 36px;
  font-weight: 700;
  color: #352b26;
  line-height: 125%;
}
.image-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  color: #7d5c4e;
  padding: 13px;
}
.explore-our-Meals {
  flex-direction: column;
  width: 432px;
  height: 66px;
  padding: 13px;
  border-radius: 5px;
  margin-top: 48px;
  color: #f0f0f0;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  border: none;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
}
/* containor 6 start */
.containor6 {
  padding: 80px;
}
.containor6 p {
  font: size 18px;
  align-items: center;
  list-style: 125%;
  color: #7d5c4e;
  text-align: center;
}
.containor6 h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.starter-pack-section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 80px;
  gap: 150px;
}
.dog-img-content {
  flex-direction: column;
}
.dog-img-content img {
  width: 542px;
  height: 315px;

  border-radius: 6px;
}
.dog-img-content h4 {
  font-family: Source Serif 4;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}
.dog-img-content p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 2%;
  color: #7d5c4e;
}
.img-graph {
  flex-direction: column;
  justify-content: center;
  gap: 31px;
}
.graph-content ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  gap: 3px;
  color: #7d5c4e;
}
.graph-content2 p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  color: #7d5c4e;
  margin-top: 31px;
}
.img-graph img {
  width: 294px;
  height: 210px;
}
.button5 button {
  width: 432px;
  height: 66px;
  padding: 13px;
  border-radius: 5px;
  margin-top: 48px;
  color: #f0f0f0;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  border: none;
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
}
/* section Why Choose us ? */
.containor7 {
  background-color: #fdf8f7;
  padding: 80px;
  gap: 30px;
  /* width: 1001px;
  height: 298px; */
  /* opacity:5% ;
  top: 291px;
  left: 219.5px; */

  background-image: url(4979e81953aa822ef01602e89c09dcbd7087eb56.png);
  background-repeat: no-repeat;
}
.containor7 h1 {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 64px;
}
.containor7 p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  color: #7d5c4e;
}
.icons-content {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  gap: 300px;
}
.icons-content img {
  height: 90px;
  width: 90px;
}
.icons-content span {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}
.icons-content p {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
}
/* containor 8 start */
.containor8 {
  padding: 80px;
}
.our-bowl-plans {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
}
.main-our {
  display: flex;
  justify-content: space-between;
  padding: 64px;
}
.our-bowl-cnt {
  flex-direction: column;
  align-items: center;
}
.our-num {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #6d4d3f;
}
.our-num1 {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  color: #6d4d3f;
}
.main-plan-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.starter-img img {
  width: 304px;
  height: 236px;
  opacity: 1;
}
/* containor 9 start */
.containor9 {
  background: #fdf8f7;
  padding: 80px;
  padding-top: 64px;
}
.client-say {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}
.client-img-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-1 img {
  width: 544px;
  height: 424px;
  opacity: 1;
  gap: 36px;
  border-radius: 8px;
  border-width: 1px;
  padding: 48px;
}
/* containor 10 email cnt */
.containor10 {
  width: 100%;
  height: 652px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 45px;
  padding-top: 80px;
}
.dog-box p {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  font-style: bold;
  font-family: source serif pro;
  text-align: center;
  margin-top: 45px;
}
.subscribe-cnt p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  color: #704b3b;
  margin-top: 45px;
}
input[type] {
  width: 560px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  color: #704b3b;
  opacity: 1;
  top: 195px;
  left: 134px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #e1bfb0;
  padding: 15px 20px;
  margin-top: 45px;
  margin-left: 100px;
}
.subscribe {
  background: linear-gradient(
    90deg,
    #5d3e31 0%,
    #704b3b 24%,
    #855946 50%,
    #7d5c4e 100%
  );
  width: 180px;
  height: 49px;
  border: none;
  opacity: 1;
  top: 195px;
  left: 514px;
  gap: 10px;
  border-radius: 5px;
  padding: 13px;
}
.dogs-img img {
  height: 700px;
  width: 900px;
}
/* containor 11 start */
.containor11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background-color: #fdf8f7;
}
.pet-meal p {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #352b26;
}
.pet-meal-cnt p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #7d5c4e;
  margin-top: 24px;
}
.dog-content-image {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  column-gap: 20px;
}
.img-cnt img {
  width: 685px;
  height: 400px;
}
.img-cnt-dog img {
  height: 400px;
  width: 400px;
}
/* footer-section */
.main-containor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  column-gap: 150px;
  align-items: center;
  padding: 80px;
  background-color:#F0F0F0 ;
}
.logo {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: #000000;
}
.watch-1 {
  display: flex;
  justify-content: space-evenly;
  padding: 64px;
  column-gap: 30px;
}
.logo-cnt {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: Black;
}
.watch-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watch-icon-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.watch-icon img {
  width: 30px;
  height: 30px;
}

.watch-cnt-p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.watch-cnt {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7d5c4e;
}
.footer-cnt-l {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #49454f;
}
/* second div company */
.footer-list{
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
}
.lit-gap{
  column-gap: 10px;
}
.company p {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  text-align: center;
  color: #7d5c4e;
  padding: 60px;
}
.company-main-con ul {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  color: #49454f;
  list-style: none;
}
.useful p {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  text-align: center;
  color: #7d5c4e;
  padding: 60px;
}
.useful-links ul{
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  color: #49454f;
  list-style: none;
}
.footer-end{
  border-bottom: 1px solid black;
}
